


//menu image styles {{
.menuImage{
  width: 100%;
}
//}}
//menu button styles {{
.button {
  background-color: #0b2339;
  width: 24%;
  margin: 0%;
  font-size: 1.9rem;
}

.button:hover{
  color: rgb(0, 0, 0);
  background-color: #0b2339;
}
.button:focus {
  border: 0;
}
.button:active{
  color: rgb(0, 0, 0);
  background-color: #0b2339;
  border: 0px;
}


  .menuBar{
  background-color: #0b2339;
  width: 100%;
  height: 5%;
}
//}}

//google sign in {
gapi.signin2.render("div_tag_id", {
"scope": "profile email openid",
"width": 200,
"height": 40,
"longtitle": true,
"theme": "dark",
"onsuccess": function (googleUser) {
// Called when the user signs in
},
"onfailure": function (e) {
console.warn("Google Sign-In failure: " + e.error);
}
});

//}