


//menu image styles {{
.menuImage{
  width: 100%;
}
//}}




//menu button styles {{
.button {
  background-color: #0b2339;
  width: 24%;
  margin: 0%;
  font-size: 65%;
  color: rgb(254, 248, 255);
}

.button.clear{
  color: white;
}

.button:hover{
  color: rgb(0, 0, 0);
  background-color: #0b2339;
}
.button:focus {
  border: 0;
}
.button:active{
  color: rgb(0, 0, 0);
  background-color: #0b2339;
  border: 0px;
}
//button styles

  .menuBar{
  background-color: #0b2339;
  width: 100%;
  height: 5%;}



@media screen and (max-width: 650px) {
  .button {
    background-color: #83e0ff;
  }
}
