<% include public/views/templates/header.ejs %>
<% include public/views/templates/menuBar.ejs %>

<div class="map">
    <iframe src="https://www.google.com/maps/d/embed?mid=11Lbz8iueDHe85HWF03LVwf3OxzxKsTyZ" width="640" height="480"></iframe>
</div>



<% include public/views/templates/footer.ejs %>