<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#317EFB"/>
        <meta charset="UTF-8">
        <meta name="google-signin-client_id" content="606354182540-hmahai0ralpcvucregf5o5gfht96k6at.apps.googleusercontent.com">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title>Petoskey</title>
            <link rel="stylesheet" href="/public/css/foundation.css">
            <link rel="stylesheet" href="/public/css/main.css">
            <link rel="manifest" href="/manifest.json">
    </head>
    <body>
        <div class="banner" id="installBanner"></div>
        <div class="banner" id="installButton"></div>