<div class="menuImage">
    <img class="menuImage" src="../public/images/menuImage.png"   alt="Petoskey Waterfront">
</div>

<div class="menuBar">
    <a href="../pages/help.ejs" class="clear button">Help</a>
    <a href="../pages/events.ejs" class="clear button">Events</a>
    <a href="../pages/login.ejs"  class="clear button">Login</a>
    <a href="../pages/maps.ejs" class="clear button">Maps</a>
</div>
<div class="g-signin2" data-onsuccess="onSignIn"></div>


